<!-- row significa linha, e o outro significa alinhar ao centro, 
cada row tem por padrão 12 colunas  -->
<div fxLayout="row" fxLayoutAlign="center">
    <!--fxFlex="90%" Faz a div ocupar 90% da largura disponível.
    Isso garante que, em telas pequenas como celulares, ela fique praticamente de ponta a ponta, com margens pequenas-->

    <!--fxFlex.gt-sm="60%" Significa: "se a tela for maior que sm (small)", ou seja:
    Tablets grandes, notebooks, desktops.
    Substitui o valor padrão (90%) por 60% de largura.

    Com essas duas informações a div fica responsivo para celular.-->
    <div fxFlex="90%" fxFlex.gt-sm="50%">

        <!-- form que será necessário para enviar o que esta na borda do cliente -->
        <form class="mt-60" #clientsForm="ngForm" (ngSubmit)="save()">
            <!--iniciando o card que terá como responsabilidade manter a estrutura-->
            <mat-card>
                <!--Ciando o header para receber o titulo -->
                <mat-card-header>
                    <mat-card-title>Cadastro de Cliente</mat-card-title>
                </mat-card-header>

                <!--Criando a parte do corpo do card, onde ficará as informações -->
                <mat-card-content class="mt-20">

                    <div fxLayout="row" fxLayoutAling="start" fxLayoutGap="16px">

                        <!--O Mat-form-field define o campo do formulário, é como se fosse um input
                    seja um input de campo, de texto,chackbox etc... -->
                        <mat-form-field class="col-6">
                            <mat-label>Nome: *</mat-label>
                            <!--Para que ess input seja referenciado pelo angular Material e fique "bonito"
                        adicione matInput, precisa importar do angular material no .ts -->
                            <input type="text" matInput placeholder="Ex: Layza" [(ngModel)]="cliente.nome" name="nome">
                        </mat-form-field>

                        <mat-form-field class="col-6">
                            <mat-label>Email: *</mat-label>
                            <input type="email" matInput placeholder="Ex: Layza@gmail.com" [(ngModel)]="cliente.email"
                                name="email">
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAling="start" fxLayoutGap="16px" class="mt-20">

                        <mat-form-field class="col-6">
                            <mat-label>CPF: *</mat-label>
                            <input type="text" matInput placeholder="Ex: 789.456.123-11" [(ngModel)]="cliente.cpf"
                                mask="000.000.000-00" name="cpf">
                        </mat-form-field>

                        <mat-form-field class="col-6">
                            <mat-label>Data de nascimento: *</mat-label>
                            <input type="text" matInput placeholder="Ex: 27/06/2025"
                                [(ngModel)]="cliente.dataNascimento" mask="00/00/0000" name="dataNascimento">
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAling="start" fxLayoutGap="16px" class="mt-20">
                        <mat-form-field class="col-6">
                            <mat-label>Telefone: *</mat-label>
                            <input type="tel" matInput placeholder="(71) 00000-0000" [(ngModel)]="cliente.telefone"
                                mask="(00)00000-0000" name="telefone">
                        </mat-form-field>

                        <div fxLayout="row" fxLayoutAling="start" fxLayoutGap="16px">

                            <mat-form-field class="col-6">
                                <mat-label>UF *</mat-label>
                                <mat-select (selectionChange)="carregarMunicipios($event)">
                                    <mat-option *ngFor="let uf of estados" [value]="uf.sigla">
                                        {{uf.sigla}} 
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="col-6">
                                <mat-label>Municipios *</mat-label>
                                <mat-select>
                                    <mat-option *ngFor="let mun of municipios" [value]="mun.nome">
                                        {{mun.nome}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                    </div>
                </mat-card-content>

                <mat-card-actions class="buttons-left" fxLayoutGap="10px">
                    @if (!atualizando) {
                    <button mat-flat-button type="submit">
                        <mat-icon fontIcon="save"></mat-icon>
                        Salvar
                    </button>

                    }@else {
                    <button mat-flat-button class="orange">
                        <mat-icon fontIcon="refresh"></mat-icon>
                        Atualizar
                    </button>
                    }

                    <button mat-flat-button class="red" (click)="limparCampo()">
                        <mat-icon fontIcon="clear"></mat-icon>
                        Limpar
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>

    </div>

</div>