<mat-toolbar color="accent">
  <a routerLink=""><img src="assets/img/home.png" alt="" width="40" height="40" style="margin-right: 10px;"></a>
  
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu  #menu="matMenu" panelClass="matMenu" >
    <button mat-menu-item routerLink="/cadastro" routerLinkActive="router-link-active" ><mat-icon>group_add</mat-icon>Cadastro</button>
    <button mat-menu-item [routerLink]="['/consulta']" routerLinkActive="router-link-active" ><mat-icon>search</mat-icon>Consulta</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>